body{
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('colour.jpg');
}
.a{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.b{
	background-color: white;
	width: 45%;
	border: 2px solid black;
	padding: 1%;
	border-radius: 50px;
}
.c{
	background-color: white;
	width: 40%;
	border: 2px solid black;
	padding: 1%;
	border-radius: 50px;
}
button{
	border-radius: 20px;
	padding: 1%;
	border: 2px solid black;
}
button:hover{
	background-color:skyblue;
}
.d{
	background-color: white;
	width: 55%;
	border: 2px solid black;
	padding: 1%;
	border-radius: 50px;
}
.f{
	width:50%;
	border:2px solid black;
	margin-left: 40px;
	padding: 1%;
	border-radius: 50px;
	background-color: white;
}
.e{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color:lightgreen;
	padding: 1%;
	margin-left: 50px;
	margin-top:20px;
}
.g{
	width:40%;
	border:2px solid black;
	margin-left:420px;
	margin-top: 40px;
	padding: 1%;
	font-size: 20px;
	background-color: white;
	border-radius: 50px;
}
.h{
	border: 2px solid black;
	width:70%;
	padding: 1%;
	margin-left:60px;
	justify-content: space-around;
	background-color: white;
	border-radius: 50px;
}
.j{
	border: 2px solid black;
	width:70%;
	margin-left: 50px;
	margin-right: 40px;
	padding: 1%;
	background-color:white;
	border-radius: 50px;
}
.i{
	display: flex;
	flex-direction: row;
}
@media only screen and (min-width:320px) and (max-width: 767px){
	.a{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.b{
		width: 100%;
		margin-bottom: 10px;
	}
	.c{
		width: 100%;
	}
	.e{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-left: 0px;
		margin-top: 0px;
		padding: 0%;
	}
	.d{
		width: 98%;
		padding:1%;
		margin-bottom: 10px;
	}
	.f{
		width: 98%;
		margin-left: 0px;
		padding: 1%;
	}
	.g{
		width: 98%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.i{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.h{
		width: 98%;
		margin-left: 0px;
		margin-bottom: 10px;
	}
	.j{
		width: 98%;
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.a{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.b{
		width: 100%;
		margin-bottom: 10px;
	}
	.c{
		width: 100%;
	}
	.e{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-left: 0px;
		margin-top: 0px;
		padding: 0%;
	}
	.d{
		width: 98%;
		padding:1%;
		margin-bottom: 10px;
	}
	.f{
		width: 98%;
		margin-left: 0px;
		padding: 1%;
	}
	.g{
		width: 98%;
		margin-left: 0px;
		margin-top: 0px;
	}
	.i{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.h{
		width: 98%;
		margin-left: 0px;
		margin-bottom: 10px;
	}
	.j{
		width: 98%;
		margin-left: 0px;
		margin-right: 0px;
	}
}